@charset "utf-8";


/* topTab */
#top .topTab {
	height: 40px;
	line-height: 40px;
}
#top .topTab .toplevel {
	position: relative;
	float: left;
	width: 164px;
	background: linear-gradient(90deg,red,#ff3264);
	/* text-align: center; */
	color: #fff;
	font-size: 14px;
}
#top .topTab .top-list {
	float: left;
	padding-left: 25px;
}
#top .topTab .top-list li {
	float: left;
	padding: 0 20px;
	font-size: 15px;
	font-weight: 700;
}
#top .topTab .top-list .first a{
	color: #ff1e32;
}
#top .topTab .top-list li:hover a {
	color: #ff1e32;
}
/* 所有分类 图标 */
#top .toplevel .lineicon i{
	width: 15px;
	height: 0;
	border-top: 2px solid #ddd;
	display: block;
	margin-bottom: 3px;
}
#top .toplevel .lineicon {
	position: relative;
	display: inline-block;
	margin: 0 24px 0 15px;
	width: 15px;
	height: 12px;
	overflow: hidden;
}

/*  */
#top .topTab .toplevel .right-list {
	position: absolute;
	background: linear-gradient(90deg,red,#ff3264);
	z-index: 1;
}
#top .topTab .toplevel .right-list li{
	height: 40px;
	width: 158px;
	font-size: 14px;
	padding: 0 3px;
	z-index: 1;
}
#top .topTab .toplevel .right-list li i {
	margin-left: 15px;
}
#top .topTab .toplevel .right-list li a {
	display: block;
	height: 39px; 
	border-top: 1px solid #FF5160;
	color: #fff;
}
#top .topTab .toplevel .right-list .icon {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	padding: 0 20px 0 10px;
}
#top .topTab .toplevel .right-list .iconv {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	padding: 0 20px 0 10px;
}

#top .topTab .toplevel .right-list li:hover a {
	color: #f00;
	background-color: #fff;
}
#top .topTab .toplevel .right-list .iconv {
	display: none;
}
#top .topTab .toplevel .right-list li:hover .icon{
	display: none;
}
#top .topTab .toplevel .right-list li:hover .iconv {
	display: inline;
}

/* swiper */
#top .swiper {
	position: relative;
	overflow: hidden;
}
#top .swiper .ss img {
	position: relative;
	transform: translate(-50%);
	left: 50%;
}

#top .swiper .ss .control {
	position: absolute;
	width: 1100px;
	height: 68px;
	top:0;
	left: 0;
	right: 0;
	top: 40%;
}
#top .swiper .ss .control i {
	display: none;
	width: 34px;
	height: 68px;
	background: url(../img/icon1-832edc2b58.png);
}
#top .swiper .ss a:hover .control i {
	display: block;
}
#top .swiper .ss .control .prev {
	float: left;
	background-position: -625px -153px;
	margin-left: 170px;
}
#top .swiper .ss .control .next {
	float: right;
	background-position: -670px -67px;
}
#top .swiper .ss .dians {
	position: absolute;
	height: 101px;
	left: 0;
	right:0;
	bottom: 60px;
	width: 1100px;
	margin: 0 auto;
}
#top .swiper .ss .dians .dian {
	position: absolute;
	bottom: 20px;
	margin-left: 210px;
}
#top .swiper .ss .dians .dian i{
	float: left;
	width: 9px;
	height: 9px;
	background-color: #fff;
	border-radius: 50%;
	margin-right: 20px;
}
#top .swiper .ss .dians .dian .active {
	background-color: #FF1E32;
}
#top .swiper .ss .dians .dian i:hover {
	background-color:#FF1E32 ;
}
/* footnav */
 #top .footnav {
	 position: absolute;
	 bottom: 0;
	 height: 45px;
	 width: 100%;
	 overflow: hidden;
	 background-color: rgba(0,0,0,.3);
 }
  #top .footnav .blur {
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background:url(../img/195e114026244fada65668a37992e70e_1920_506.png) center bottom;
	  filter: blur(8px);
  }
#top .footnav .wrap li {
	position: relative;
	z-index: 1;
	float: left;
	height: 45px;
	line-height: 45px;
	margin-right: 40px;
} 
#top .footnav .wrap li a {
	color: #fff;
	font-style: 12px;
}
#top .footnav .wrap li a:hover {
	text-decoration:underline;
}
#top .footnav .wrap .right-text {
	float: right;
}